runinfo
*/__pycache__
*.pyc
tests/outputs
.ropeproject/
build/
ceci.egg-info*
dist
log.txt
test_save*
tests/log*
tests/cwl
nb/Untitled.ipynb
.ipynb_checkpoints/
.coverage
.coverage.*
.eggs
out/
test/
dask-worker-space/
